# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
venv.bak/

env/
.env/
env.bak/

# Environment files
.env
.venv

# JetBrains (PyCharm, IntelliJ IDEA, etc.)
.idea/

# Visual Studio Code
.vscode/

# Certificate files
*.pem
*.crt
*.key

# Image files
*.jpg
*.jpeg
*.png
*.webp

# Log files
*.log